/* =======================Video Post Production Upper Section CSS============================= */
.wave-container {
	background: url(/assets/Images/Servicesimages/Productionimages/Productionupper.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 40vh;
    /* text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8); */;
}

.wave-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.wave-container h1 {
	position: absolute;
	top: 60%;
	left: 50%;
	margin: 0;
	z-index: 1;
	font-size: 50px;
	transform: translate(-50%,-50%);
	color: #09ed9f;
	font-weight: 700;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	 background: -webkit-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
    background: -moz-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
    background: linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:922px) {
	.wave-container h1 {
		font-size: 63px;
	}
}

@media (max-width:922px) {
	.wave-container h1 {
		font-size: 40px;
	}
}
/* =============================Video Post Production CSS==================================== */
* {
	box-sizing: border-box;
	background-color: black;
}

.gallery {
	border: 1px solid #ccc;
}

.gallery img {
	width: 100%;
	height: auto;
}

.content {
	padding: 15px;
	text-align: center;
	color: white;
	font-size: larger;
	font-weight: 700;
}

.responsive {
	padding: 100px 16px;
	float: left;
	width: 30%;
	margin-left: 30px;
	width: 30%;
}

#h {
	background-color: transparent;
}