/* =============================================Career UpperSection================================================== */
.wave-container {
	background: url(/assets/Images/Servicesimages/Graphics&Social-Media/) no-repeat;
	background-color: aliceblue;
	background-size: cover;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 40vh;
}

.wave-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.wave-container h1 {
	position: absolute;
	top: 60%;
	left: 50%;
	margin: 0;
	z-index: 1;
	font-size: 80px;
	transform: translate(-50%,-50%);
	color: #09ed9f;
	font-weight: 700;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	background: #0150CC;
	background: -webkit-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
	background: -moz-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
	background: linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width:922px) {
	.wave-container h1 {
		font-size: 63px;
	}
}

@media (max-width:922px) {
	.wave-container h1 {
		font-size: 40px;
	}
}

/* ====================Career page CSS========================== */
/* Contact form css */
* {
	font-family: "Times New Roman", Times, serif;
}

.body {
	background-color: black;
}
  /* .contact .content{
      max-width: 800px;
      text-align: center;
      z-index: 1;
  } */
.contact .content h2 {
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}

.contact .content p {
	font-weight: 300;
	color: rgb(8, 8, 8);
	font-family: "Times New Roman", Times, serif;
}

.contact .content .para {
	color: whitesmoke;
}

.contactcontainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(32, 29, 29);
	z-index: 1;
}

.contactcontainer .contactinfo {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.contactcontainer .contactinfo .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contactcontainer .contactinfo .box .icon {
	min-width: 60px;
	height: 60px;
	background: rgb(255, 255, 255);
	color: rgb(182, 55, 55);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.contactcontainer .contactinfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

.contactcontainer .contactinfo .box .text h3 {
	font-weight: 500;
	color: #44b5c4;
}

.contactform {
	height: 600px;
	width: 35%;
	padding: 40px;
	background: #08d8a5;
      /* z-index: 1; */
	/* border-radius: 45px; */
	margin-top: 5%;
}

.contactform h2 {
	font-size: 30px;
	color: rgb(58, 54, 54);
	font-weight: 500;
}

.contactform .inputbox {
	position: relative;
	width: 100%;
	margin-top: 30px;
}

.contactform .inputbox input,
  .contactform .inputbox textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: coral;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
	border-radius: 5px;
}

.contactform .inputbox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contactform .inputbox input:focus ~span,
  .contactform .inputbox input:valid ~span,
  .contactform .inputbox textarea:focus ~span,
  .contactform .inputbox textarea:valid ~span {
	color: #241b1e;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
	width: 100px;
	background: #141414;
	color: rgb(252, 249, 249);
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

.inputbox select {
	font-size: 20PX;
	border-radius: 5px;
	width: 100%;
	color: rgb(70, 68, 68);
}

.imgbox {
	width: 40%;
	height: 40%;
	margin-top: 5%;
	/* border-radius: 75px; */
	margin-left: 35px;
}

.heading {
	color: white;
	margin-top: 25px;
	width: 85%;
	margin-left: 35px;
	text-align: justify;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}

.head {
	color: #09eb9f;
	text-transform: uppercase;
	margin-left: 35px;
	background: #0150CC;
	background: -webkit-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
	background: -moz-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
	background: linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media(max-width: 991px) {
	.contact {
		padding: 50px;
		margin-top: 0px;
	}

	.contactcontainer {
		flex-direction: column;
		margin-top: 0px;
	}

	.contactcontainer .contactinfo {
		margin-bottom: 40px;
	}

	.contactcontainer .contactinfo, .contactform {
		width: 90%;
		margin-top: 100px;
	}
}