/* =================Who we are Upper Section Css ============================ */
.wave-container {
    background:url("/assets/Images/About-Images/Who-We-Are/Upper-Section-About-us.gif") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 40vh;
    /* text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8); */
    
  }
  /* .wave-container::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
  } */
  .wave-container h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    margin: 0;
    z-index: 1;
    font-size: 80px;
    transform: translate(-50%,-50%);
    color: #09ed9f;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    background: #0150CC;
    background: -webkit-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
    background: -moz-linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
    background: linear-gradient(to right, #0150CC 28%, #09ED9F 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @media (max-width:922px) {
    .wave-container h1 {
      font-size: 63px;
  }
  }
  
  @media (max-width:922px) {
    .wave-container h1 {
      font-size: 40px;
  }
  }

/* =========================== About Us Css=========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.section{
    width: 100%;
    min-height: 100vh;
    background: #000;
}
.container{
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: right;
    width: 55%;
}
.image-section{
    float: left;
    width: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.image-section img{
    width: 100%;
    height: auto;
}
.image-section h3{
    margin-top: 10px;
    color: #c1c2c3;
    text-align: center;
    font-weight: 600;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 20px;
    color: #C1C2C3;
}
.content-section .content h3{
    margin-top: 20px;
    color: #c1c2c3;
    font-size: 19px;
}
.content-section .content p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: #c1c2c3;
}
.content-section .content .button {
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}
.content-section .content .button a:hover{
    transition: all 0.9s;
    background-color: #a52a2a;
    color: #fff;
}